header {
    font-family: Futura, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: 0.47em;
}


main {
    
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 

}
h1 {
  color: brown;
  background-color: pink;
  text-align: center;
  width: 100vw;
    letter-spacing: 0.05em;
}

p {
  text-align: justify;
  line-height: 1.45em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: gray;
}
