header {
    font-family: Futura, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    letter-spacing: 0.47em;
    background-color: #ffc1b3;
}

header a {
  background-color: #edf6f9;
  color: #e95433;
  text-decoration: none;
}
header a:hover {
  background-color:#ffc1b3;
}

header a:active {
  color:#ff8064;
}

header ul {
  list-style: none;
}
body {
  background-color: #edf6f9;
  margin: 0;

}

main {
    
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; 
    /*background-color: #006d77;*/
}
h1 {
  color: #006d77;
  background-color: #83c5be;
  text-align: left;
  width: 100vw;
    letter-spacing: 0.05em;
}

h2, h3, h4, h5, h6 {
  color: #006d77;
  text-align: left;
  width: 100vw;
    letter-spacing: 0.05em;
}
p, ul, ol {
  text-align: justify;
  line-height: 1.45em;
  color: #00272b;

}

p::first-line {
  font-size: 1.2em;
  font-weight: 500;
  color: #268378; }

a:nth-of-type(2n)
{

}

.roundImg {
  border-radius: 5em;
  background-color: #26837865;
  opacity: 80%;  
  transition: all 1s ease-in-out;
}
.roundImg:hover {
  border-radius: 0em;
  transition: all 1s ease-out;
  opacity: 100%;
}
a {
  text-decoration: none;
  color: gray;
}

figcaption {
  font-style: italic;
  font-weight: 100;
  color:#455758;
  text-decoration: underline; 

}
 ::selection {
  background-color: #b7ece7;
}
header a::selection {
  background-color: #ffa08a;
}